$main-color: #5C9530;
$panel-bg: #CDDFBF;
$btn-success-bg: #AA8338;

.navbar.navbar-default {
  background-color: $main-color;
}

.page-header {
  margin: 20px;
}

.btn.btn-raised.btn-success {
  background-color: $btn-success-bg;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.page-header {
  border-color: #8a6d3b;
}