@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$main-color: #5C9530;
$panel-bg: #CDDFBF;
$btn-success-bg: #AA8338;

.navbar.navbar-default {
  background-color: $main-color;
}

.page-header {
  margin: 20px;
}

.btn.btn-raised.btn-success {
  background-color: $btn-success-bg;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.page-header {
  border-color: #8a6d3b;
}

.board-item {

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      &:hover {
        text-decoration: none;
      }
    }

    &__title {
      font-size: 18px;
      position: relative;
    }

    &__cart {
      position: absolute;
      top: 2px;
      right: -25px;
      border: none;
      background: none;
      z-index: 10;
      transition: all 0.3s ease;
        & i {
          color: #ff5722;
          font-size: 19px;
        }
    }

    &__update {
      position: absolute;
      top: -25px;
      right: 20px;
      border: none;
      background: none;
      z-index: 10;
      transition: all 0.3s ease;
      & i {
        color: #CDDFBF;
        font-size: 19px;
      }
    }
    .alert {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      transition: all 0.5s ease;
      &:hover {
        box-shadow: 0 0 5px #1e1e1e;
        button:nth-child(1) {
          top:2px;
        }
        button:nth-child(2) {
          right: 0;
        }
      }
    }
}

.card-list-item {
  .panel-heading {
    position: relative;
    text-shadow: 1px 1px 1px #505050;
    color: #fff8e1;
  }

  &__update {
    position: absolute;
    top: 8px;
    right: 23px;
    border: none;
    background: none;
    z-index: 10;
    transition: all 0.3s ease;
    & i {
      color: #CDDFBF;
      font-size: 19px;
      text-shadow: 0 0 1px #000;
    }
  }

  &__delete {
    position: absolute;
    top: 8px;
    right: 0;
    border: none;
    background: none;
    z-index: 10;
    transition: all 0.3s ease;
    & i {
      color: #ff5722;
      font-size: 19px;
      text-shadow: 0 0 1px #000;
    }
  }
}

#loading-bar .bar {
  background: #f44336;
  height: 3px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color: #f44336;
  border-left-color: #f44336;
}

.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}